/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-expolnpeoa] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-expolnpeoa] {
  color:none !important;
}

.btn-primary[b-expolnpeoa] {
  color:none !important;
  background-color: none !important;
  border-color: none !important;
}

.nav-pills .nav-link.active[b-expolnpeoa],
.nav-pills .show>.nav-link[b-expolnpeoa] {
  color: none !important;
  background-color: none !important;
  border-color: none !important;
}

#sortOptions[b-expolnpeoa] {
  border: #ffffff !important;
  outline: none !important;
  box-shadow: #ffffff !important;
  background-color:#ffffff !important;
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  /* Remove default browser styling */
}

/* Style all options with default white background and black text */
#sortOptions option[b-expolnpeoa] {
  border: #ffffff !important;
  outline:#ffffff !important;
  box-shadow: #ffffff !important;
  background-color: #ffffff !important;
  font-size: 1rem;
  padding: 6px 12px;
}

/* Highlight hovered option */
#sortOptions option:hover[b-expolnpeoa] {
  border: #ffffff !important;
  outline: none;
  box-shadow: none;
  background-color: #ffffff !important;
  font-size: 1rem;
  padding: 6px 12px;
}

/* Ensure selected option stays styled correctly in collapsed view */
#sortOptions:focus-visible[b-expolnpeoa] {
  border:  #ffffff;
  outline: none;
  box-shadow: none;
  background-color:  #ffffff;
  font-size: 1rem;
  padding: 6px 12px;
}

input[type="text"][b-expolnpeoa] {
  border: #ffffff !important;;
  outline: none;
  box-shadow: none;
  background-color: #ffffff !important;;
  font-size: 1rem;
}

.btn-outline-primary[b-expolnpeoa] {
  border: #ffffff !important;
  outline: none !important;
  box-shadow: none !important;
  background-color:  #ffffff;
  font-size: 1rem;
}
.border-top[b-expolnpeoa] {
  border-top: 1px solid #ffffff;
}

.border-bottom[b-expolnpeoa] {
  border-bottom: 1px solid #ffffff;
}

.box-shadow[b-expolnpeoa] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-expolnpeoa] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-expolnpeoa] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}