@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sanakirja</h1>
    <p>Suomalais-Venäläinen</p>
</div>

<p style="text-align:center;"> 
<img src="images/viktor_fursov_koivut.jpg" alt="Koivut" width="320" height="450" />
</p>